.under-hero {
  margin-top: -3rem;
  z-index: 1;
  position: relative;
  min-height: 20rem;
}

.info-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

@media (min-width: 576px) {
  .info-list li {
    margin-right: 2rem;
  }
}

.info-list li {
  margin-right: 1rem;
}

.bx {
  font-size: 1.5rem;
}

.section .section__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  margin-bottom: 2rem;
}

.list .list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0.5rem;
  border-radius: 0.25rem;
}

.list .list__cover {
  position: relative;
  width: 3rem;
  height: 3rem;
  overflow: hidden;
  border-radius: 0.25rem;
}

.list .list__cover > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.list .list__cover .btn-play {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.btn.btn-icon.btn-sm {
  padding-right: 0.1875rem;
  padding-left: 0.1875rem;
}
.btn.btn-play {
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  opacity: 0;
  visibility: hidden;
}
.btn.btn-icon {
  padding-right: 0.4375rem;
  padding-left: 0.4375rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.list .list__content {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  min-width: 0;
  padding-left: 1rem;
}

.list .list__title {
  display: block;
  color: #151719;
  font-weight: 500;
  margin-bottom: 0.125rem;
}
.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.list .list__subtitle {
  color: #8c9095;
  font-size: 0.8125rem;
  font-weight: 400;
}
.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.list .list__subtitle > a {
  color: inherit;
}

.list .list__option {
  margin: 0;
  padding: 0;
  padding-left: 1rem;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.list .list__option > li {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.list .list__option > li > a {
  color: inherit;
}

.list .list__option > li:not(:first-child) {
  margin-left: 1rem;
}

.dropdown-menu.show {
  display: block;
  position: absolute;
  inset: 0px 0px auto auto;
  margin: 0px;
  transform: translate(-26px, 0px);
}
