.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  margin-left: 200px;
  z-index: 1;
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
  padding: 1rem 1.25rem 0;
}

.header .header-container {
  padding: 0.5rem 1.5rem;
  background-color: #196eed;
  color: #fff;
  border-radius: 0.375rem;
  position: relative;
  -webkit-box-shadow: 0 1px 2rem 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 2rem 0 rgba(0, 0, 0, 0.3);
}

.header_iner {
  background-color: #196eed;
  position: fixed;
  top: 0;
  z-index: 99;
  padding: 10px 30px;
  position: relative;
  border-radius: 0;
  transition: 0.5s;
}

@media (max-width: 575.98px) {
  .header_iner {
    justify-content: flex-end !important;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .header_iner {
    justify-content: flex-end !important;
  }
}

@media (max-width: 991px) {
  .header_iner {
    padding: 10px 20px;
    margin: 0;
    background-color: var(--content-bg);
  }
  .header {
    margin-left: 0;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .header_iner {
    margin: 0 10px;
  }
}

@media (max-width: 575.98px) {
  .header_iner {
    margin: 0;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .header_iner {
    margin: 0;
  }
}

@media only screen and (min-width: 1200px) {
  .header_iner {
    margin-bottom: 20px;
  }
}

.header_iner {
  background-color: transparent;
  position: fixed;
  top: 0;
  z-index: 99;
  padding: 10px 30px;
  position: relative;
  border-radius: 0;
  transition: 0.5s;
}

@media (max-width: 575.98px) {
  .header_iner {
    justify-content: flex-end !important;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .header_iner {
    justify-content: flex-end !important;
  }
}

@media (max-width: 991px) {
  .header_iner {
    padding: 10px 20px;
    margin: 0;
    background-color: var(--content-bg);
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .header_iner {
    margin: 0 10px;
  }
}

@media (max-width: 575.98px) {
  .header_iner {
    margin: 0;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .header_iner {
    margin: 0;
  }
}

@media only screen and (min-width: 1200px) {
  .header_iner {
    margin-bottom: 20px;
  }
}
