.site-header {
  position: absolute;
  left: 0px;
  top: 0;
  width: 100%;
  z-index: 99;
  transition: all 0.3s ease 0s;
  padding: 30px 60px 0;
  color: aliceblue;
}

.hamburger {
  height: 60px;
  width: 60px;
  float: right;
  border: 0px;
  right: 15px;
  outline: none;
  background: 0 0;
  position: absolute;
  top: 10px;
  z-index: 9999;
  /* transition: all 0.5s; */
  pointer-events: auto;
  -webkit-appearance: none !important;
}

.site-branding {
  position: relative;
  width: 50px;
}

.site-branding a {
  font-size: 40px;
  font-weight: 900;
  color: var(--white-color);
  pointer-events: auto;
  text-transform: capitalize;
  letter-spacing: -1px;
}

.menu-main-menu-container li {
  display: inline-block;
  float: left;
  position: relative;
  margin: 0 30px;
}

.menu-main-menu-container ul {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.menu-main-menu-container li a {
  color: var(--primary-color);
  font-size: 20px;
  pointer-events: auto;
  text-transform: capitalize;
  font-family: var(--title-font);
  position: relative;
  font-weight: 400;
}

.menu-main-menu-container li a:before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  height: 1px;
  width: 0;
  opacity: 0;
  background-color: var(--primary-color);
  transition: all 0.5s;
}

.menu-main-menu-container li a:hover:before {
  width: 100%;
  opacity: 1;
  transition: all 0.5s;
}
